/* 深色主题样式 */
body {
  font-family: Arial, sans-serif;
  background-color: #181818; /* 深灰色背景 */
  color: #d8d8d8; /* 文字颜色 */
  margin: 0;
  padding: 0;
  display: flex;
}

#header, #footer {
  background-color: #333; /* 深灰色背景 */
  color: #d8d8d8; /* 文字颜色 */
  text-align: center;
  padding: 20px;
  width: 100%;
}

#tabs {
  position: fixed;
  top: 0;
  left: -250px;  /* 默认隐藏侧栏 */
  width: 250px;
  height: 100%;
  background-color: #222;
  transition: left 0.3s ease;  /* 动画效果 */
  z-index: 1000;
}

#tabs:hover {
  left: 0;  /* 鼠标悬停时显示侧栏 */
}

.tab-button {
  background-color: #444; /* 深灰色按钮背景 */
  border: 1px solid #666; /* 边框颜色 */
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  color: #bbb; /* 按钮文字颜色 */
  transition: background-color 0.3s;
}

.tab-button:hover {
  background-color: #555; /* 鼠标悬停时的背景颜色 */
}

.tab-button.active {
  background-color: #4CAF50; /* 激活状态的按钮背景色 */
  color: #d8d8d8; /* 激活状态文字颜色 */
}

#content {
  flex-grow: 1;
  padding: 20px;
  background-color: #222;
  border-radius: 8px;
  margin-left: 20px;
}

a {
  color: #4CAF50; /* 链接颜色 */
  text-decoration: none;
}

a:hover {
  text-decoration: underline; /* 链接悬停时 */
}

/* 其他深色样式 */
h1, h2, h3, h4, h5, h6 {
  color: #d8d8d8; /* 标题颜色 */
}

p {
  color: #d8d8d8; /* 段落文字颜色 */
}
